.body__form{
    .form__new{
        display: flex;
    }
    .form__new__button{
        background: linear-gradient(to right, #197f38, #1dce26);
        border-radius: 50px 50px;
        margin-right: 15px;
        margin-bottom: 55px;
    }
    
}


