.footer2{
    display: flex;
    flex-direction: column;
    height: 8%;
    border: 3px solid;
    border-radius: 13px;
    margin: 0;
    &__box{        
        padding: 10px 5px;
    }
    &__mensaje{
        text-align: center;
    }
    &__input{
        width: 83%;
        outline: none;
        border: none;
        background: $chat;
        padding: 6px;
        height: 18px;
        border-radius: 18px;
        padding-left: 20px;
    }
    &__icon{
        position: relative;
        top: 2.2px;
        left: 4px;
    }
}