.footer2{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 11%;
    border-radius: 13px;
    margin: 0;
    width: 100%;
    padding: -5px 30px;
    display: flex;
    flex-direction: row;
    align-items: center ;
    gap : 10px;

   
    &__mensaje{
        text-align: center;
    }
    &__input{
        flex-grow: 1;
        outline: none;
        border: none;
        background: $chat;
        padding: 5px 10px;
        height: 24px;
        border-radius: 18px;
     
    }
    
}