.chat {
  display: flex;
  padding-right: 1rem;
  overflow-y: scroll;

  &__photo {
    padding: 1rem;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
  }

  &__container {
    padding: 1rem 0;
    color: $gray;
    flex: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px lighten($color: $gray, $amount: 40) solid;
  }

  &:last-child > &__container {
    border-bottom: none;
  }

  &__name {
    color: $black;
    font-size: 1.2rem;
    margin: 0;
    padding-bottom: 0.5rem;
  }

  &__text {
    margin: 0;
    display: flex;
    align-items: center;
  }

  &__extra {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &--active {
      color: $green;
    }
  }

  &__time {
    font-size: 0.8rem;
  }

  &__extra--active > &__amount {
    color: $white;
    background-color: $green;
    margin: 0.5rem 0;
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    text-align: center;
  }
}

.check {
  &--active {
    color: $blue;
  }
}



.chat::-webkit-scrollbar {
  width: 5px;
}

.chat::-webkit-scrollbar-thumb {
  background-color: $gray;
  border-radius: 10px;
}
.chat::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}